.sun-container {
  position: relative;
}

.sun {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -116%);
  width: 40rem;
  height: 40rem;
  margin: 3rem auto;
  background: radial-gradient(transparent 50%, rgba(255, 255, 255, 0.301)),
    radial-gradient(white, transparent 70%);
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 1) 40%, transparent 65%);
  mask-image: radial-gradient(rgba(0, 0, 0, 1) 40%, transparent 65%);
  border-radius: 50%;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    filter: blur(1.5px);
    border-radius: 50%;
    -webkit-mask-image: radial-gradient(
      rgb(255, 255, 255) 40%,
      transparent 65%
    );
    mask-image: radial-gradient(rgb(255, 255, 255) 40%, transparent 65%);
  }

  &::before {
    background: repeating-conic-gradient(
      from 0deg,
      rgba(255, 255, 255, 0.219) 0deg 20deg,
      transparent 20deg 40deg
    );
    animation: rotate 720s linear, scale 3s linear infinite;
  }

  &::after {
    background: radial-gradient(
        rgba(255, 255, 255, 0.187),
        rgba(200, 200, 200, 0.103) 27%,
        transparent calc(27% + 3px) 100%
      ),
      radial-gradient(rgba(255, 255, 255, 0.176), transparent 70%),
      repeating-conic-gradient(
        from 0deg,
        rgba(255, 255, 255, 0.103) 0deg 5deg,
        transparent 5deg 10deg
      );
    transform: rotate(15deg);
    animation: rotate 360s linear;
  }
}

.ray {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -17%);
  width: 250px;
  height: 250px;
  background-color: transparent;
  border-radius: 50%;
  border: solid 1.2px white;
  filter: blur(2px);
  animation: ray 2s linear infinite;
}

.ray::before {
  content: "";
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -158%);
  width: 350px;
  height: 350px;
  background-color: transparent;
  border-radius: 50%;
  border: solid 1.2px white;
  filter: blur(2px);
  animation: ray 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}